In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("iris_100_rows.csv")
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           4.9          4.3           1.7          0.4  setosa
1           4.5          2.6           1.1          0.5  setosa
2           5.2          3.8           1.0          0.6  setosa
3           5.5          2.7           1.2          0.2  setosa
4           4.8          3.4           1.4          0.2  setosa

In [3]:
dataset["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)