In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
dataset = pd.read_csv("student_placement_dataset_1000.csv")
dataset.head(3)

   cgpa  score  placed
0  6.69   5.43       0
1  9.28   7.21       1
2  8.29   8.86       1

In [8]:
x = dataset.iloc[:,:-1]
y = dataset["placed"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_test, y_test = train_test_split(x,y, random_state = 42, test_size = 0.2)